.link-price{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.link-price:hover{
  color: #FFA41C;
}
.lin-height{
  line-height: .7;
}
.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}


body{background:#eee}
.ratings i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}
.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}
.para{font-size: 16px}
