<nav class="navbar navbar-expand-lg m-0 navbar-dark" style="background-color: #232F3E;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav  mb-lg-0" style="cursor: pointer;">
        <li id="catInNav" class="nav-item" *ngFor="let item of CategoryList| paginate: { itemsPerPage: 7, currentPage: page }">
          <a class="nav-link" (click)="getsubcategory(item.id)"  *ngIf="language == 'en'else check">{{item.name}}</a>
          <ng-template #check><a (click)="getsubcategory(item.id)" class="nav-link" >{{item.arabicName}}</a></ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
