<div class="container">
    <div class="row d-flex justify-content-center p-5">
        <div class="row d-flex justify-content-center">
            <div class="col-7">
        <h3>Change your password</h3>
       </div>
    </div>
     <div class="col-7 rounded border p-3 ms-2 border-1">
        <form  method="POST" (ngSubmit)="changePassword()" [formGroup]="form" role="form"> 
      <div class="m-4">
        <h6>old Password</h6>
        <input required id="newPassword" 
        formControlName="oldPassword"
        type="Password" 
        class="form-control"
          [ngClass]="{'is-invalid':(oldPassword?.touched||oldPassword?.dirty)&&oldPassword?.invalid}" >
        <span class="invalid-feedback">
          <span *ngIf="oldPassword?.errors?.['required']">Please enter your old Password</span>
         </span>
    </div>
    <div class="m-4">
       <h6>new Password</h6>
       <input required id="newPassword" 
       formControlName="newPassword"
       type="Password" 
       class="form-control"
         [ngClass]="{'is-invalid':(newPassword?.touched||newPassword?.dirty)&&newPassword?.invalid}" >
       <span class="invalid-feedback">
         <span *ngIf="newPassword?.errors?.['required']">Please enter your new Password</span>
         <span *ngIf="newPassword?.errors?.['pattern']">new Password must be more complex</span>
        </span>
    </div>
    <div class="m-4">
       <h6>reenter new Password</h6>
       <input required id="reenternewPassword" 
       formControlName="reenternewPassword"
       type="Password" 
       class="form-control"
         [ngClass]="{'is-invalid':(reenternewPassword?.touched||reenternewPassword?.dirty)&&reenternewPassword?.invalid}" >
       <span class="invalid-feedback">
         <span *ngIf="reenternewPassword?.errors?.['required']">Please enter your confirm new Password</span>
         <span *ngIf="reenternewPassword?.errors?.['pattern']">confirm new Password must be more complex</span>
         <span *ngIf="reenternewPassword?.errors?.['confirmedValidator']">new Password and Confirm new Password must be matched</span>
        </span>
    </div>
    <button class="btn btn-warning mx-5" type="submit">Save</button>
    </form>
    </div>
 </div>
</div>

 