<div class="container">
   <div class="row d-flex justify-content-center m-5">
    <div class="col-12">
    <div class="row d-flex justify-content-center">
        <div class="col-7">
        <h3>Login & security</h3>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    <div class="col-7 rounded border ms-2 border-1">
        <div class="d-flex justify-content-between m-2">
            <div class="col-5">
                <h6>Name:</h6>
                <p>{{userProfile.userName}}</p>
            </div>
            <div class="col-2">
                <button (click)="navigateToChange('name')" class="btn default">edit</button>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between m-2">
            <div class="col-5">
                <h6>Primary mobile number:</h6>
                <p>{{userProfile.phone}}</p>
            </div>
            <div class="col-2">
                <button (click)="navigateToChange('phone')"  class="btn default">edit</button>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between m-2">
            <div class="col-5">
                <h6>Email:</h6>
                <p>{{userProfile.emailAddress}}</p>
            </div>
            <div class="col-2">
                <button  (click)="navigateToChange('email')" *ngIf="userProfile.emailAddress !=null"
                  class="btn default">edit</button>
                  <button  (click)="navigateToChange('email')" *ngIf="userProfile.emailAddress ==null"
                  class="btn default">Add</button>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between m-2">
            <div class="col-5">
                <h6>Password:</h6>
                <p>*******</p>
            </div>
            <div class="col-2">
                <button (click)="changePassword()" class="btn default">edit</button>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
